body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("reading.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #fff;
  opacity: 0.88;
  z-index: 0;
}
welcome {
  position: relative;
  z-index: 1;
  width: 50%;
  padding: 50px;
}

.welcome h1 {
  font-size: 40px;
  font-weight: bold;
}

.welcome p {
  margin: 20px 0;
  line-height: 1.5;
  color: #333;
}

.books {
  position: relative;
  z-index: 1;
  width: 50%;
  text-align: center;
}




